<!DOCTYPE html>
<html>
<head>
  <title>Server Information</title>
</head>
<body>
  <h1>Server Information</h1>
  <p>Hostname: {{ ansible_hostname }}</p>
  <p>IP Address: {{ ansible_default_ipv4.address }}</p>
  <p>CPU: {{ ansible_processor }}</p>
  <p>RAM: {{ ansible_memtotal_mb }} MB</p>
  <p>First HDD Size: {{ ansible_devices.sda.size }}</p>
</body>
</html>
